<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MacroMark Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MacroMark.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MacroMarkWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC149B642FCF718800B7D581</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC149B712FCF718B00B7D581</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC149B7B2FCF718B00B7D581</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC149B872FCF718B00B7D581</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC149BDF2FCF750200B7D581</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
